/* Side Navigation */
.sidebar {
  position: fixed;
  background: rgba(28, 28, 28, 0.9);
  width: 25rem;
  height: 100vh;
  border-radius: 0 4rem 0 0;
  padding: 6rem 5rem;
  font-family: var(--font-sans);
  color: var(--palette-cream);
}

.sidebar h3 {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.sidebar h3 a {
    text-decoration: none;
    color: var(--palette-cream);
}

.sidebar .nav-item {
  margin-right: auto;
}

.sidebar .nav-item a {
  position: relative;
  font-size: 1.6rem;
  font-weight: 300;
}

/* Blog Section */
.blog-content .row {
  min-height: 100vh;
  transition: background-color 1.5s ease;
  padding: 15rem 0;
}

.blog-content .col-12 {
  padding: 0 10rem 0 35rem;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .blog-content .col-12 {
        padding: 0 5rem 0 5rem;
    }
}

.blog-content h2 {
  font-family: var(--font-display);
  font-size: 10rem;
}

.blog-content p {
  font-family: var(--font-sans);
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.blog-content .row:nth-child(1) {
  margin-top: -13.6rem;
}

.textcolor-light {
  color: var(--palette-cream);
}

.textcolor-dark {
  color: var(--palette-black);
}

.color-darkpurple {
  background-color: var(--palette-darkpurple);
}

.color-purple {
  background-color: var(--palette-purple);
}

.color-blue {
  background-color: var(--palette-blue);
}

.color-teal {
  background-color: var(--palette-teal);
}

.color-green {
  background-color: var(--palette-green);
}

.color-lime {
  background-color: var(--palette-lime);
}

.color-yellow {
  background-color: var(--palette-yellow);
}

.color-amber {
  background-color: var(--palette-amber);
}

.color-orange {
  background-color: var(--palette-orange);
}

.color-orangered {
  background-color: var(--palette-orangered);
}

.color-red {
  background-color: var(--palette-red);
}

.color-pink {
  background-color: var(--palette-pink);
}

.color-magenta {
  background-color: var(--palette-magenta);
}

.color-plum {
  background-color: var(--palette-plum);
}
