/* Font: Magiona Display */
@font-face {
  font-family: "Magiona Display";
  src: url("../fonts/MagionaDisplay/Magiona\ Display.ttf") format("truetype");
}

@font-face {
  font-family: "Magiona Display";
  src: url("../fonts/MagionaDisplay/Magiona\ Display\ Italic.ttf")
    format("truetype");
  font-style: italic;
}

/* Font: Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 300 800;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 300 800;
  font-style: italic;
}

/* Default Colours */
:root {
  --palette-black: #1c1c1c;
  --palette-white: #fafafa;
  --palette-cream: #fef6e5;
  --palette-darkpurple: #24243e;
  --palette-purple: #654ea3;
  --palette-blue: #2f58cd;
  --palette-teal: #1c82ad;
  --palette-green: #16c79a;
  --palette-lime: #7de271;
  --palette-yellow: #f0ff42;
  --palette-amber: #ffd93d;
  --palette-orange: #ffa521;
  --palette-orangered: #ff6a00;
  --palette-red: #f14339;
  --palette-pink: #ee0979;
  --palette-magenta: #a52e90;
  --palette-plum: #642967;
  --font-display: "Magiona Display", serif;
  --font-sans: "Open Sans", sans-serif;
}

/* Default Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--palette-black);
}

/* Navigation Bar */

.navbar img {
  height: 7rem;
  width: 7rem;
  transition: all 0.5s;
}

.navbar img:hover {
  scale: 1.1;
  transition: all 0.2s;
}

.navbar .container-fluid {
  padding: 2.5rem 5rem;
}

.navbar .nav-item {
  padding-right: 4rem;
}

.navbar .nav-item a {
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 400;
  color: var(--palette-cream);
  position: relative;
}

/* Hover Overlay Effect */
.hover-overlay::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.hover-overlay:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-overlay::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--palette-purple);
  opacity: 0.6;
  z-index: -1;
  transition: transform 0.2s ease;
}

/* Text Fade on Scroll Effect */
.text-animate-hide {
  opacity: 0;
  filter: blur(0.2rem);
  transform: translateY(10%);
  transition: all 0.8s;
}

.text-animate-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
